@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

@font-face {
    font-family: 'pf_square_sans_probold';
    src: url('../fonts/pfsquaresanspro-bold/pfsquaresanspro-bold-webfont.eot');
    src: url('../fonts/pfsquaresanspro-bold/pfsquaresanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfsquaresanspro-bold/pfsquaresanspro-bold-webfont.woff2') format('woff2'),
    url('../fonts/pfsquaresanspro-bold/pfsquaresanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pf_square_sans_proregular';
    src: url('../fonts/pfsquaresanspro-regular/pfsquaresanspro-regular-webfont.eot');
    src: url('../fonts/pfsquaresanspro-regular/pfsquaresanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfsquaresanspro-regular/pfsquaresanspro-regular-webfont.woff2') format('woff2'),
    url('../fonts/pfsquaresanspro-regular/pfsquaresanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    color: #3d3d3d;
}

header {
    background-color: #ffffff;
    height: 260px;
    display: flex;
    justify-content: center;
}

#header_content {
    display: flex;
    width: 640px;
    background: url('../img/1euro.png') no-repeat center;
    padding: 30px 35px;
    box-sizing: border-box;
    flex-direction: column;
}

#header_content a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 61px;
    line-height: 1.2;
    text-decoration: none;
}
#header_content .top-part{
    display: flex;
    justify-content: space-between;
}
#header_content .top-part h2{
    font-size: 96px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 10px;
}

#header_content .top-part h2 sup{
    font-family: Arial;
    font-weight: 100;
    color: #f7c824;
    font-size: 54px;
}
#header_content .top-part .top-part_icons{
    display: flex;
    padding-top: 40px;
 }

#header_content .top-part a.link{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: url('../img/social/link-icon.png') no-repeat;
 }

#header_content .top-part a.twitter{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: url('../img/social/twitter-icon.png') no-repeat;
}

#header_content .top-part a.facebook{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: url('../img/social/facebook-icon.png') no-repeat;
}
#header_content .top-part a.google{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: url('../img/social/google-icon.png') no-repeat;
}
#header_content .top-part a.linkedin{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: url('../img/social/linkedin-icon.png') no-repeat;
}

#header_content .bottom_part p{
    font-family: 'pf_square_sans_proregular', sans-serif;
    line-height: 1.2;
    font-size: 23px;
    width: 75%;
    letter-spacing: 0.1em;
}


/*-----------------------------------------------Main*/
main {
    background-color: #f7c824;
    height: 100%;
    display: flex;
    justify-content: center;
}

#main_content {
    width: 640px;
    padding: 0 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main_content section p {
    font-family: 'pf_square_sans_probold', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

#main_content section span.etape_descr {
    font-size: 18px;
    line-height: 1.2;
    margin-left: 18px;
}

#main_content section span.numbers {
    display: inline-block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */
    background-color: #3d3d3d;
    color: white;
    text-align: center;
    margin-left: 12px;
}

#main_content section .functional {
    border-top: #ffffff 1px solid;
}

/*-----------------------------------------------Etape 1*/
#main_content .etape_1 {
    margin-top: 67px;

}

#main_content .etape_1 .functional {
    display: flex;
    flex-direction: row;
    font-family: 'pf_square_sans_proregular', sans-serif;
    padding-top: 30px;
}

#main_content .etape_1 .functional p {
    font-family: 'pf_square_sans_proregular', sans-serif;
    font-size: 18px;
    margin: 0 0 5px;
}

#main_content .etape_1 .pays_select {
    margin-right: 11px;
}

#main_content .etape_1 .pays_select input {
    width: 275px;
    height: 40px;
}

#main_content .etape_1 .number_select select {
    height: 40px;
    width: 80px;
    text-align: center;
    color: #b4ae9e;
}

#main_content .etape_1 .number_select input {
    height: 36px;
    width: 188px;
    margin-left: 7px;
}
/*-----------------------------------------------Etape 2*/

#main_content .etape_2 {
    margin-top: 60px;
}

#main_content .etape_2 .add_docs p {
    font-size: 18px;
    margin-bottom: 10px;
}

#main_content .etape_2 .add_docs > p {
    align-self: flex-end;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 40px;
}

#main_content .etape_2 .add_docs {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
}

#main_content .etape_2 .text_template {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main_content .etape_2 .docs_template {
    display: flex;
    flex-direction: column;
}

#main_content .etape_2  .square {
    background-color: white;
    border: #3d3d3d 1px dashed;
    padding: 15px 20px 0;
    width: 100%;
    max-width: 265px;
    height: 100px;
    box-sizing: border-box;
}

#main_content .etape_2 .docs_template .second_square {
    font-family: 'pf_square_sans_proregular', sans-serif;
    font-size: 17px;
    background: white url("../img/pdf-doc_icons.png") 96% 82% no-repeat;
    display: flex;
    padding-right: 0;
    padding-left: 5px;

}

#main_content .etape_2 .docs_template .second_square p {
    font-family: 'pf_square_sans_proregular', sans-serif;
    margin: 0;
}

#main_content .etape_2 .docs_template .second_square span {
    font-weight: 100;
    font-size: 12px;
}

#main_content .etape_2 .final_view {
    margin-top: 27px;
}

#main_content .etape_2 .final_view p {
    font-size: 18px;
}

#main_content .etape_2 .big_square {
    background-color: #fbf3da;
    width: 100%;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#main_content .etape_2 .item {
    position: relative;
    width: 100%;
    height: 200px;
    box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);
    background: #ffffff;
}

#main_content .etape_2 .item a.button{
    background: black url('../img/backet-icon.png');
    width: 15px;
    height: 16px;
}
#main_content .item a{
    position: absolute;
    right: 5%;
    bottom: 3%;
}

#main_content .item.item_2, #main_content .item.item_3{
    margin-left: 10px;
}
/*-----------------------------------------------Etape 3*/

#main_content .etape_3 {
    margin-top: 40px;
}

#main_content .etape_3 p.red_text {
    font-family: 'pf_square_sans_proregular', sans-serif;
    font-size: 14px;
    color: #d21b05;
    margin-top: 10px;
    margin-bottom: 55px;
}

#main_content .etape_3 span.etape_descr::after {
    content: " (optionel)";
    font-family: 'pf_square_sans_proregular', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

#main_content .etape_3 .gender {
    display: flex;
    font-family: 'pf_square_sans_proregular', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}

/*============================================ Custom radio for gender*/
.gender .radio-custom {
    opacity: 0;
    position: absolute;
}

.gender .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    color: #a2882f;
}

.gender .radio-custom-label {
    position: relative;
}

.gender .radio-custom + .radio-custom-label:before {
    content: '';
    /*background: #fff;*/
    box-shadow: inset 0 0 0 4px #d2ac29;
    /*border: 2px solid #000000;*/
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;

}

.gender .radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.gender .radio-custom:checked + .radio-custom-label:before {
    background: #3d3d3d;
    box-shadow: inset 0 0 0 4px #d2ac29;
}

.gender .radio-custom:checked + .radio-custom-label {
    color: #3d3d3d;
}

/*==================================================*/
#main_content .etape_3 .user_data{
    display: flex;
    justify-content: space-between;
}

#main_content .etape_3 .user_data input{
    height: 40px;
    min-width: 266px;
    width: 100%;
}

#main_content .etape_3 .user_data p {
    font-family: 'pf_square_sans_proregular', sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
}

#main_content .etape_3 .email p::after {
    content: "*";
    color: #d21b05;
}
/*-----------------------------------------------Etape 4*/
#main_content .etape_4 .functional p {
    font-size: 18px;
    margin-top: 38px;
}

#main_content .etape_4 .payment_type {
    display: flex;
    justify-content: space-between;
}

#main_content .etape_4 .price {
    color: #2f75d4;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

#main_content .etape_4 .price p {
    margin-top: 5px;

}

/*============================================ Custom radio for payment*/

.payment_type .radio-custom {
    opacity: 0;
    position: absolute;
}

.payment_type .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    color: #a2882f;
}

.payment_type .radio-custom-label {
    position: relative;
}

.payment_type .radio-custom + .radio-custom-label:before {
    content: '';
    /*background: #fff;*/
    box-shadow: inset 0 0 0 4px #d2ac29;
    /*border: 2px solid #000000;*/
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;

}

.payment_type .radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.payment_type .radio-custom:checked + .radio-custom-label:before {
    background: #3d3d3d;
    box-shadow: inset 0 0 0 4px #d2ac29;
}

.payment_type .radio-custom:checked + .radio-custom-label {
    color: #3d3d3d;
}

/*============================================ */

.agreement .checkbox-custom {
    opacity: 0;
    position: absolute;
}

.agreement .checkbox-custom, .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.agreement .checkbox-custom-label {
    position: relative;
}

.agreement .checkbox-custom + .checkbox-custom-label:before {
    content: '';
    /*background: #fff;*/
    border: 3px solid #d2ac29;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.agreement .checkbox-custom:checked + .checkbox-custom-label:before {
    background: #3d3d3d;
    /*box-shadow: inset 0px 0px 0px 4px #fff;*/
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 21px;
    margin-bottom: 24px;
}

.button {
    font-family: 'pf_square_sans_probold', sans-serif;
    font-size: 16px;
    color: #fbf5dc;
    width: 162px;
    height: 40px;
    background-color: #3d3d3d;
    border: none;
    border-radius: 10px;
}

@media only screen and (max-width: 660px) {
    #main_content .etape_1 .functional {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main_content .etape_2 .add_docs{
        flex-direction: column;
        align-items: center;
    }
    #main_content .etape_2 .add_docs > p{
        align-self: center;
        margin: 10px 0;
    }

    #main_content .etape_3 .user_data{
        flex-direction: column;
        align-items: center;
    }

    #main_content .etape_4 .payment{
        display: flex;
    }

    #main_content .etape_4 .payment_type ,.price{
        flex-direction: column;
    }

    #main_content .etape_4 .payment .price{
        flex-direction: column;
        margin-bottom: 0;
        margin-left: 20px;
    }
    @media only screen and (max-width: 400px){
        #header_content{
            padding: 30px 3px;
        }
        #main_content{
            padding: 0 7px;
        }
    }
}